<!DOCTYPE html>
<html>
<head>
  <title>WebglProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'header' %>
<div class="ui fluid container" style="padding-top:60px;">
  <div class="ui internally celled grid">
    <div class="row">
      <div class="ui wide column">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
